<div class="footer">
    <div class="container">
        <div class="goals-copyright">
            <h1 class="section-heading">الاهدام والرؤية </h1>
            <p>مساعدة اولاياء االامور فى الوصول لافضل المعلمين فى جميع المجالات والمراحل والتعرف على اماكن عملهم </p>
        </div>
        <div>
            <h1 class="section-heading">الاشراف</h1>
            <p></p>
        </div>

    </div>
    <p>all right reserved@Sarty house</p>

</div>