<header class="header">
    <div class="container">
        <a href="" class="logo">web name</a>
        <div class="navs">
            <a href="/teacher/1">الرئيسية</a>
            <a href="/join-us">انضم الينا</a>
            <a href="/home">About us</a>
        </div>
    </div>
</header>