<!DOCTYPE html>
<html lang="en">


<%- include('./units/head')%>

    <body>
        <%- include('./units/header')%>
            <section class="main-view">
                <div class="container">
                    <h1 class="section-heading">معلمون الرياضيات</h1>
                    <div class="grid-auto">
                        <a href="/profile/1" class="card">
                            <div class="image">
                                <img src="/Emblem.png" alt="">
                            </div>
                            <div class="breif-info">
                                <h1>teacher name</h1>
                                <h3>title</h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sed mollitia saepe at sint. Molestias, laborum quidem hic, ab perspiciatis eveniet asperiores nobis eligendi, qui quasi repudiandae reprehenderit dolor ipsum.</h5>
                            </div>
                        </a>
                        <a href="" class="card">
                            <div class="image">
                                <img src="/Emblem.png" alt="">
                            </div>
                            <div class="breif-info">
                                <h1>وسام البدري احمد</h1>
                                <h3>title</h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sed mollitia saepe at sint. Molestias, laborum quidem hic, ab perspiciatis eveniet asperiores nobis eligendi, qui quasi repudiandae reprehenderit dolor ipsum.</h5>
                            </div>
                        </a>
                        <a href="" class="card">
                            <div class="image">
                                <img src="/Emblem.png" alt="">
                            </div>
                            <div class="breif-info">
                                <h1>teacher name</h1>
                                <h3>title</h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sed mollitia saepe at sint. Molestias, laborum quidem hic, ab perspiciatis eveniet asperiores nobis eligendi, qui quasi repudiandae reprehenderit dolor ipsum.</h5>
                            </div>
                        </a>
                        <a href="" class="card">
                            <div class="image">
                                <img src="/Emblem.png" alt="">
                            </div>
                            <div class="breif-info">
                                <h1>teacher name</h1>
                                <h3>title</h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sed mollitia saepe at sint. Molestias, laborum quidem hic, ab perspiciatis eveniet asperiores nobis eligendi, qui quasi repudiandae reprehenderit dolor ipsum.</h5>
                            </div>
                        </a>
                        <a href="" class="card">
                            <div class="image">
                                <img src="/Emblem.png" alt="">
                            </div>
                            <div class="breif-info">
                                <h1>teacher name</h1>
                                <h3>title</h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sed mollitia saepe at sint. Molestias, laborum quidem hic, ab perspiciatis eveniet asperiores nobis eligendi, qui quasi repudiandae reprehenderit dolor ipsum.</h5>
                            </div>
                        </a>
                        <a href="" class="card">
                            <div class="image">
                                <img src="/Emblem.png" alt="">
                            </div>
                            <div class="breif-info">
                                <h1>teacher name</h1>
                                <h3>title</h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sed mollitia saepe at sint. Molestias, laborum quidem hic, ab perspiciatis eveniet asperiores nobis eligendi, qui quasi repudiandae reprehenderit dolor ipsum.</h5>
                            </div>
                        </a>
                        <a href="" class="card">
                            <div class="image">
                                <img src="/Emblem.png" alt="">
                            </div>
                            <div class="breif-info">
                                <h1>teacher name</h1>
                                <h3>title</h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sed mollitia saepe at sint. Molestias, laborum quidem hic, ab perspiciatis eveniet asperiores nobis eligendi, qui quasi repudiandae reprehenderit dolor ipsum.</h5>
                            </div>
                        </a>
                        <a href="" class="card">
                            <div class="image">
                                <img src="/Emblem.png" alt="">
                            </div>
                            <div class="breif-info">
                                <h1>teacher name</h1>
                                <h3>title</h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sed mollitia saepe at sint. Molestias, laborum quidem hic, ab perspiciatis eveniet asperiores nobis eligendi, qui quasi repudiandae reprehenderit dolor ipsum.</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <%- include('./units/footer')%>
    </body>

</html>