<!DOCTYPE html>
<html lang="en">
<%- include('./units/head')%>

    <body>
        <%- include('./units/header')%>
            <h1 class="section-heading">طلب انضمام</h1>
            <div class="container form-container">
                <form action="post" class="form">
                    <input type="text" name="user-name" placeholder="الاسم">
                    <input type="text" name="governer" placeholder="المحافظة">
                    <input type="text" name="specialist" placeholder="التخصص">
                    <input type="text" name="specialist" placeholder="المرحلة الدراسبة">
                    <input type="text" name="phone-number" placeholder="رقم الهاتف">
                    <div class="btn">
                        <button class="button">ارسال الطلب</button>
                    </div>

                </form>
            </div>
            <%- include('./units/footer')%>
    </body>

</html>