<!DOCTYPE html>
<html lang="en">
<%- include('./units/head')%>

    <body>
        <%- include('./units/header')%>
            <section class="main-view ">
                <div class="container profile-container">
                    <div class="image">
                        <img src="/perso.png" alt="">
                    </div>
                    <div class="basic-info">
                        <h1>name of teacher</h1>
                        <h3>title of teacher</h3>
                        <h4>last exp work</h4>
                        <h6>government</h6>
                    </div>
                </div>
            </section>
            <section class="exp-vedio">
                <div class="container">
                    <div class="video">

                        <video src="/vedio/v1.mp4" controls="true"></video>

                    </div>
                    <div class="exp-info">
                        <h1 class="section-heading">الخبرات السابقة</h1>
                        <h1>Lorem ipsum dolor sit amet consectetur </h1>
                        <h1>exp1 in hk kto kkky kyk kt</h1>
                        <h1>exp1 in hk kto kkky kyk kt</h1>
                        <h1>exp1 in hk kto kkky kyk kt</h1>
                        <h1>exp1 in hk kto kkky kyk kt</h1>
                        <h1>exp1 in hk kto kkky kyk kt</h1>

                    </div>
                </div>
            </section>
            <section class="contact-places">
                <div class="container">
                    <div class="contact">
                        <h1 class="section-heading">contact</h1>
                        <h3>Phone Number:</h3>
                        <a href="">facebook</a>
                        <a href="">WhatsApp</a>
                        <a href="">email</a>
                    </div>
                    <div class="available-places">

                        <h1 class="section-heading">available-places</h1>
                        <p>جزيرة شندويل و القاهرة و بغداد و الجيزة</p>
                    </div>
                </div>
            </section>
            <%- include('./units/footer')%>

    </body>

</html>